In [2]:
import pandas as pd

customers = pd.read_csv('customers.csv')
products = pd.read_csv('products.csv')
orders = pd.read_csv('orders.csv')

In [3]:
print("Customers Head:")
print(customers.head())
print("\nProducts Head:")
print(products.head())
print("\nOrders Head:")
print(orders.head())

Customers Head:
  customer_id      name  age gender               city
0       C0001  Jennifer   56   Male      Morrisonmouth
1       C0002   William   46   Male  Port Charlesshire
2       C0003     Ellen   32   Male  South Thomasmouth
3       C0004     Sheri   60   Male         West Megan
4       C0005    Taylor   25   Male         Josephland

Products Head:
  product_id product_name     category   price
0       P001        Stage     Clothing  534.93
1       P002        Least  Accessories   56.56
2       P003       Number         Home  339.92
3       P004      Evening     Clothing  138.74
4       P005      Protect     Footwear   68.06

Orders Head:
  order_id customer_id product_id  quantity  order_date
0   O00001       C0333       P022         1  2022-01-09
1   O00002       C0068       P090         1  2022-01-27
2   O00003       C0483       P021         1  2022-01-17
3   O00004       C0214       P076         4  2022-01-07
4   O00005       C0411       P073         4  2022-01-12

In [4]:
print("\nCustomers Info:")
print(customers.info())
print("\nProducts Info:")
print(products.info())
print("\nOrders Info:")
print(orders.info())

Customers Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  500 non-null    object
 1   name         500 non-null    object
 2   age          500 non-null    int64
 3   gender       500 non-null    object
 4   city         500 non-null    object
dtypes: int64(1), object(4)
memory usage: 19.7+ KB
None

Products Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    100 non-null    object
 1   product_name  100 non-null    object
 2   category      100 non-null    object
 3   price         100 non-null    float64
dtypes: float64(1), object(3)
memory usage: 3.3+ KB
None

Orders Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2584 entries, 0 to 2583
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     2584 non-null   object
 1   customer_id  2584 non-null   object
 2   product_id   2584 non-null   object
 3   quantity     2584 non-null   int64
 4   order_date   2584 non-null   object
dtypes: int64(1), object(4)
memory usage: 101.1+ KB
None

In [5]:
orders['quantity'] = orders['quantity'].fillna(0)
products['price'] = products['price'].fillna(0)

In [6]:
repeat_customers = orders['customer_id'].value_counts()
repeat_customers = repeat_customers[repeat_customers > 1] 
print("\nRepeat Customers (Orders > 1):")
print(repeat_customers)

Repeat Customers (Orders > 1):
customer_id
C0028    13
C0113    13
C0243    12
C0338    11
C0475    11
         ..
C0211     2
C0165     2
C0036     2
C0187     2
C0042     2
Name: count, Length: 485, dtype: int64

In [7]:
orders = orders.merge(products[['product_id','product_name','price']], on='product_id', how='left')

top_selling = orders.groupby('product_name')['quantity'].sum().sort_values(ascending=False)
print("\nTop Selling Product:")
print(top_selling.head(1))

Top Selling Product:
product_name
Program    153
Name: quantity, dtype: int64

In [8]:
least_selling = orders.groupby('product_name')['quantity'].sum().sort_values()
print("\nLeast Selling Product (Consider Discontinue):")
print(least_selling.head(1))

Least Selling Product (Consider Discontinue):
product_name
First    42
Name: quantity, dtype: int64

In [9]:
loyal_customers = orders['customer_id'].value_counts()
loyal_customers = loyal_customers[loyal_customers > 5]
print("\nLoyal Customers (Eligible for Extra Discount):")
print(loyal_customers)

Loyal Customers (Eligible for Extra Discount):
customer_id
C0028    13
C0113    13
C0243    12
C0338    11
C0475    11
         ..
C0156     6
C0490     6
C0439     6
C0208     6
C0398     6
Name: count, Length: 202, dtype: int64

In [10]:
orders['total_price'] = orders['quantity'] * orders['price']
total_income = orders['total_price'].sum()
print("\nTotal Income of the Store:")
print(total_income)

Total Income of the Store:
4134260.59

In [11]:
orders['order_date'] = pd.to_datetime(orders['order_date'])
orders['year'] = orders['order_date'].dt.year

yearly_sales = orders.groupby('year')['total_price'].sum()
print("\nYearly Sales Report:")
print(yearly_sales)

Yearly Sales Report:
year
2022    1357500.38
2023    1489071.01
2024    1287689.20
Name: total_price, dtype: float64

In [21]:
orders['month'] = orders['order_date'].dt.month
monthly_sales = orders.groupby(['year','month'])['total_price'].sum()
print("\n Monthly Sales Report:")
print(monthly_sales)

 Monthly Sales Report:
year  month
2022  1        174606.83
      2        131429.46
      3        147872.95
      4         99819.56
      5         74185.19
      6        125984.33
      7         96078.61
      8        102602.68
      9         95015.46
      10        78645.33
      11       133063.62
      12        98196.36
2023  1        108926.39
      2        100614.27
      3        132403.32
      4         81954.66
      5        159682.07
      6        161371.64
      7        113853.06
      8        122938.18
      9         99777.87
      10       140647.43
      11       134667.98
      12       132234.14
2024  1         85660.83
      2        145746.19
      3         82357.10
      4        121439.22
      5         94350.64
      6        113249.20
      7         83719.16
      8         82841.26
      9        124696.42
      10       124655.70
      11       113283.46
      12       115690.02
Name: total_price, dtype: float64

In [14]:
top_product = top_selling.index[0]
least_product = least_selling.index[0]
loyal_customers_list = loyal_customers.index.tolist()

In [20]:
print("Top Product:", top_product)
print("Least Product:", least_product)
print("Loyal Customers IDs:", loyal_customers_list)

Top Product: Program
Least Product: First
Loyal Customers IDs: ['C0028', 'C0113', 'C0243', 'C0338', 'C0475', 'C0268', 'C0406', 'C0220', 'C0108', 'C0405', 'C0414', 'C0129', 'C0258', 'C0448', 'C0068', 'C0497', 'C0181', 'C0500', 'C0080', 'C0356', 'C0388', 'C0311', 'C0477', 'C0256', 'C0245', 'C0354', 'C0235', 'C0053', 'C0473', 'C0075', 'C0491', 'C0461', 'C0421', 'C0184', 'C0237', 'C0267', 'C0100', 'C0167', 'C0323', 'C0466', 'C0149', 'C0484', 'C0250', 'C0355', 'C0424', 'C0043', 'C0092', 'C0074', 'C0471', 'C0083', 'C0059', 'C0364', 'C0153', 'C0358', 'C0488', 'C0499', 'C0056', 'C0428', 'C0003', 'C0102', 'C0236', 'C0217', 'C0244', 'C0374', 'C0310', 'C0065', 'C0437', 'C0393', 'C0007', 'C0395', 'C0304', 'C0377', 'C0002', 'C0206', 'C0286', 'C0138', 'C0373', 'C0157', 'C0047', 'C0292', 'C0148', 'C0057', 'C0008', 'C0444', 'C0098', 'C0463', 'C0045', 'C0453', 'C0079', 'C0316', 'C0086', 'C0372', 'C0283', 'C0320', 'C0445', 'C0044', 'C0012', 'C0122', 'C0151', 'C0040', 'C0034', 'C0125', 'C0325', 'C0021', 'C0363', 'C0479', 'C0357', 'C0249', 'C0066', 'C0276', 'C0333', 'C0224', 'C0247', 'C0093', 'C0088', 'C0455', 'C0024', 'C0196', 'C0411', 'C0179', 'C0064', 'C0248', 'C0446', 'C0284', 'C0494', 'C0154', 'C0486', 'C0264', 'C0391', 'C0013', 'C0029', 'C0296', 'C0097', 'C0253', 'C0141', 'C0219', 'C0285', 'C0324', 'C0213', 'C0434', 'C0339', 'C0460', 'C0452', 'C0315', 'C0383', 'C0404', 'C0470', 'C0431', 'C0435', 'C0171', 'C0133', 'C0025', 'C0255', 'C0229', 'C0410', 'C0442', 'C0401', 'C0106', 'C0495', 'C0332', 'C0063', 'C0146', 'C0050', 'C0425', 'C0353', 'C0360', 'C0348', 'C0449', 'C0174', 'C0071', 'C0351', 'C0273', 'C0350', 'C0015', 'C0402', 'C0202', 'C0104', 'C0073', 'C0109', 'C0120', 'C0190', 'C0492', 'C0408', 'C0422', 'C0132', 'C0046', 'C0041', 'C0472', 'C0193', 'C0214', 'C0481', 'C0105', 'C0175', 'C0288', 'C0095', 'C0336', 'C0297', 'C0156', 'C0490', 'C0439', 'C0208', 'C0398']

In [18]:
print("\n")